<app-global-error> </app-global-error>
<div class="app-wrapper">
  <h1>WELCOME TO {{title}} </h1>
  <app-todo-input (submit)="addTodo($event)"></app-todo-input>
  <ul>
    <li *ngFor="let todo of todoItems; index as i">
      <app-todo-item [todo]="todo" (deleteTodo)="removeTodo(i)"></app-todo-item>
    </li>
  </ul>
 <p *ngIf="loading" class="loading">...LOADING...</p>
<!--  <app-product [data]="product[0]"></app-product>-->
<!--  <app-product [data]="product[1]"></app-product>-->
  <app-product
    *ngFor="let pr of product; let i = index" [data]="pr"></app-product>

</div>
